stages:
  - pre-build
  - build
  - test
  - deploy

default:
  image: "teresuki/test"

before_script:
  - cd ..
  - cd ..
  - cd ..
  - cd /builds/galvdat/vgu_tinyprojects/pe2022/pe2022_team-7/

# flutter_analyze:
#   stage: pre-build
#   script:
#     - flutter doctor
#     - flutter analyze
#   rules:
#     - allow_failure: true
#     - if: $CI_PIPELINE_SOURCE == "push"


flutter_build_android: 
  stage: build
  script:
    - flutter clean
    - flutter build apk
  rules:
    - allow_failure: true
    - if: $CI_PIPELINE_SOURCE == "push"
  artifacts:
    paths:
      - build/app/outputs/apk/release/app-release.apk

flutter_test:
  stage: test
  script:
    - flutter test
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
