<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344264346912-6sfjhcgr9842sd14a8ov1nu8rs88f4li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344264346912-6sfjhcgr9842sd14a8ov1nu8rs88f4li</string>
	<key>API_KEY</key>
	<string>AIzaSyBzm0LqFvcDLqsUTa1YOZwM2BkotoOO1kQ</string>
	<key>GCM_SENDER_ID</key>
	<string>344264346912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deltadeer.etoet</string>
	<key>PROJECT_ID</key>
	<string>etoet-pe2022</string>
	<key>STORAGE_BUCKET</key>
	<string>etoet-pe2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344264346912:ios:12583481ea92e4508f9b45</string>
	<key>DATABASE_URL</key>
	<string>https://etoet-pe2022-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>